<div class = "container mt-5">
<mat-grid-list cols="2" rowHeight="2:1" gutterSize="20">
    <mat-grid-tile>
        <img src ="../../assets/Crud.jpg"  alt="" srcset="" width="600" height="300" routerLink ="/employee" style = "cursor: pointer;">
    </mat-grid-tile>
    <mat-grid-tile>
        <img src ="../../assets/comming soon.jpg" alt="" srcset="" width="600" height="300">
    </mat-grid-tile>
    <mat-grid-tile>
        <img src ="../../assets/comming soon.jpg" alt="" srcset="" width="600" height="300">
    </mat-grid-tile>
    <mat-grid-tile>
        <img src ="../../assets/comming soon.jpg" alt="" srcset="" width="600" height="300">
    </mat-grid-tile>
  </mat-grid-list>
</div>